<h1> Orders </h1>

<%= button_to 'Clear filters', '/orders', method: 'get' %>
<%= form_with url: orders_path, method: 'get', local: true do |form| %>
  <%=
    form.select :status, [
      ["Pending", "pending"],
      ["In Progress", "in_progress"],
      ["Completed", "completed"]
    ]
  %>
  <%= form.submit "Filter" %>
<% end %>
<%= form_with url: orders_path, method: 'get', local: true do |form| %>
  <%= form.text_field 'control_number' %>
  <%= form.submit 'Find' %>
<% end %>


<table class="table table-dark">
  <tr>
    <th> Id </th>
    <th> Control number </th>
    <th> State </th>
    <th> Action </th>
  </tr>

  <% @orders.each do |order| %>
    <tr>
      <td> <%= order.id[...4] %> </td>
      <td> <%= order.control_number %> </td>
      <td> <%= order.status %> </td>
      <td>
        <%=
          button = case order.status
            when 'pending'
              button_to 'Start',
                        order_start_progress_path(order.id),
                        method: :get
            when 'in_progress'
              button_to 'Complete',
                        order_complete_path(order.id),
                        method: :get
            else
              button_to 'Order completed!', {}, disabled: true
            end
          %>
      </td>
    </tr>
  <% end %>
</table>'

<%= button_to 'Add order', new_order_path, method: 'get' %>
